<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.calliope.mini" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required only when requesting background location access on
      Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--
     Bluetooth permission is required on Android 4.3 - 11 in order to communicate with
     Bluetooth LE devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />

    <!--
     Bluetooth Admin permission is required on Android 4.3 - 11 in order to scan for
     Bluetooth LE devices, create and remove pairing.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!--
     On Android 12 new set of Bluetooth permissions were added. BLUETOOTH_SCAN permission is
     needed to scan for Bluetooth LE devices.

     This permission is not added here, as scanning is only required in some cases. If needed,
     add this permission to your app's Android Manifest.

     Also, consider adding "neverForLocation" flag if scanning for beacons is nor required.
     With this flag set, the Fine Location permission will not be required.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>


    <!--
     This permission is required in order to connect to a Bluetooth LE device on Android 12
     onwards.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!--
     Apps that target Android 9 (API level 28) or higher and use foreground services must request
     the FOREGROUND_SERVICE permission, as shown in the following code snippet.
     This is a normal permission, so the system automatically grants it to the requesting app.

     As foreground service may be disabled, this permission is commented out. Add it to your app
     if needed.
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" android:minSdkVersion="26" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cc.calliope.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerActivity"
            android:icon="@drawable/ic_mini_app_icon"
            android:label="@string/feature_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="no.nordicsemi.android.nrftoolbox.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".myCodeActivity"
            android:label="@string/title_activity_my_code"
            android:theme="@style/AppTheme" />
        <activity android:name=".selectEditorActivity" />
        <activity
            android:name=".editorAcitvity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".DFUActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dfu"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name=".service.DfuService"
            android:enabled="true" />


        <activity android:name=".receiveFileIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"
                    android:scheme="content"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream"
                    android:scheme="content"/>
            </intent-filter>

        </activity>
        <activity android:name=".InfoActivity" />
    </application>

</manifest>